/* h1 {
    color:blue;
}

#blue {
    color:lightblue;
}

h1.purple {
    color:purple;
}

p {
    color:chartreuse;
    font-size: 16px;
}

p.purple {
    color:pink;
} */

body {
    color:darkorange;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


div {
    color:crimson;
}

.container-1 {
    background-color: black;
    height: 100px;
    font-weight: 300;
}

p {
    height: 80px;
}


